.List {
  display: block;
  list-style: none;
  padding: 0;
  margin-left: 50px;
}
.Item {
  margin-bottom: 5px;
}
.Item:not(:last-child) {
  border-right: 1px solid #dcdcdc;
}
.Text {
  margin-bottom: 7px;
  font-size: 14px;
  color: #808080;
}
.Statistic {
  font-weight: 700;
  font-size: 16px;
  color: #220541;
}
